<ion-header collapse="fade">
  <ion-toolbar>
    <div class="menu">
      <img class="logo" src="../assets/img/logo-service-finder.png">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    
    <div class="title">
      <ion-label > Olá User </ion-label>
    </div>
    
    <div class="borderText">
        
      <ion-grid>

        <ion-row>

          <ion-col size="6">
            <ion-button (click)="profile()" class="menuButton">
              <ion-list >
                <ion-item lines="none">
                  <div style="text-align:center">
                    <img src="../assets/img/icon-menu.png">
                  </div>
                </ion-item>
                <ion-item lines="none">
                  <p>Orçamentos</p>
                </ion-item>
              </ion-list>
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="profile()" class="menuButton">
              <ion-list >
                <ion-item lines="none">
                  <div style="text-align:center">
                    <img src="../assets/img/icon-menu.png">
                  </div>
                </ion-item>
                <ion-item lines="none">
                  <p>Serviços</p>
                </ion-item>
              </ion-list>
            </ion-button>
          </ion-col>

        </ion-row>

        <ion-row>

          <ion-col size="6">
            <ion-button (click)="profile()" class="menuButton">
              <ion-list >
                <ion-item lines="none">
                  <div style="text-align:center">
                    <img src="../assets/img/icon-menu.png">
                  </div>
                </ion-item>
                <ion-item lines="none">
                  <p>Perfil</p>
                </ion-item>
              </ion-list>
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="profile()" class="menuButton">
              <ion-list >
                <ion-item lines="none">
                  <div style="text-align:center">
                    <img src="../assets/img/icon-menu.png">
                  </div>
                </ion-item>
                <ion-item lines="none">
                  <p>Configurações</p>
                </ion-item>
              </ion-list>
            </ion-button>
          </ion-col>

        </ion-row>
        
      </ion-grid>
      
  </div>



</ion-content>
