<ion-content [fullscreen]="true">

  <ion-card class="center" color="dark">
    <ion-card-title class="ion-text-center">Register</ion-card-title>

    <ion-item  lines="none" color="dark">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" placeholder="Digite o seu email..." class="input"></ion-input>
    </ion-item>

    <ion-item lines="none" color="dark">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" placeholder="Digite a senha..." class="input"></ion-input>
    </ion-item>

    <ion-item lines="none" color="dark">
      <ion-checkbox name="agreeTerms" slot="start" mode="ios"></ion-checkbox>
      <ion-label class="ion-text-wrap">I agree to the terms and conditions</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
